.elipses * {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.files-section {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.files {
    overflow-y: auto;
}