.columnHeader {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 0rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.63rem;
    min-width: 14.81rem;
    text-align: left;
    font-size: 2rem;
    font-family: Montserrat;
    border-bottom: 1px solid #202020;
}