.top-bar {
  height: 50px;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 18px;
  border-bottom: 1px solid lightgray;
}

.container {
  height: 100%;
  display: flex;
}

.container>div {
  border: solid;
  height: 100vh;

}

.left-inner {
  width: 20%;
  background-color: whitesmoke;
}

.files {
  overflow-y: scroll;
}

.right-inner {
  flex-grow: 1;
  background-color: lightblue;
}