.pack-horizontally {
  display: flex;
}

.pack-horizontally>div {
  border: 1px solid;
  height: 100%;
  display: stretch;
}

.left-inner {
  width: 20%;
  background-color: whitesmoke;
}

.right-inner {
  flex-grow: 1;
  background-color: lightblue;
}

.pack-vertically {
  width: 100%;
  display: stretch;
}

.app-view {
  height: 100%;
  width: 100%;
}

.top-bar {
  height: 5vh;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 18px;
  border-bottom: 1px solid lightgray;
}

.content {
  height: 95vh;
}

.files {
  overflow-y: auto;
}