.top-bar {
  min-height: fit-content;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 18px;
}

.content {
  height: 95%;
}

.pack-horizontally {
  display: flex;
  flex-direction: row;
}

.left-inner {
  min-width: 20%;
  width: 20%;
  resize: horizontal;
  overflow-y: hidden;
}

/* fills the remaining space horizontally */
.right-inner {
  flex-grow: 1;
  overflow-y: hidden;
}